html, body {
    /*margin: 20px*/
}

body {
    background: #fafafa; font-family: 'Open Sans', sans-serif;
    color: #333;
    padding-top:15px;
    line-height:14px;
    opacity: 0.87;
}

.hero-unit {
    margin:50px auto 0;
    width:300px;
    font-size:18px;
    font-weight:200;
    line-height:30px;
    background-color:#eee;
    border-radius: 6px;
    padding: 60px
}

.hero-unit h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}

ul.dashboard {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%
}

ul.dashboard li {
    background: #fff;margin: 0;
    width: 100% ;
    float: left;
    height: 55px;
    line-height: 55px;
    vertical-align: middle;
    border-bottom: 1px solid #ccc;
    padding: 5px 0
}

ul.dashboard li span.station {
    float: left
}

ul.dashboard li span.box {
    float: right;padding: 0 10px;color: #fff;
}

ul.tanks {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%
}
ul.tanks li {
    background: #fff;width: 100% ;float: left;
    height: 55px;line-height: 55px;vertical-align: middle;
    padding: 5px 0;margin: 0 0 10px;
}

ul.tanks li span.tank {
    float: left;width: 15%;
    margin: 0;padding: 0
}

ul.tanks li span.station {
    float: left;text-align: center;color: #fff;
    border-top: 1px;
    border-right:0;
    border-bottom: 1px;
    border-left: 1px;
    border-top-left-radius: 18px;
    border-bottom-left-radius: 18px
}

ul.tanks li span.box {
    float: right;color: #fff;
    color: #000;text-align:center;
    font-weight:600;border-top-right-radius:18px;
    border-bottom-right-radius:18px}.width60{width:59%;float:left;
                                        border-right:1px solid #000;padding-right: 3px
                                    }
.width40 {
    width: 40% ;float: left;text-align: center
}
.width72 {
    width: 61.2%
}
.width23 {
    width: 23.8%
}
.width15 {
    width: 12.75%
}
.width85 {
    width: 72.25%
}
.red {
    background: red
}
.orange {
    background: orange
}

.cblack {
    color: #000!important
}

.progress {
    height:50px!important;
    margin-top: 10px;
}

.progress .bar{height:100%}
.progress span{
    position:relative;top:0!important;z-index:2; color:#261C21;
    padding-left:15px;
    text-align: center;width: 100% ;font-size: 17px;font-weight: 600;
    height: 50px;line-height: 50px;vertical-align: middle
}

.progress-bar-sucess {
    background-color: transparent;
    background-color: #08BF61!important
}
.progress-bar-warning{
    background-color:transparent;
    background-color:#FFBD4B!important
}

.progress-bar-danger {
    background-color: transparent;
    background-color: #FF6C39!important
}

a {
    text-decoration: none !important;
}

.black { color: #3F3F3F!important; }


.form-signin {
    max-width: 440px;
    padding: 15px;
    margin: 0 auto;
    margin-top: 50px;
}
.form-signin ,
.form-signin .checkbox {
    margin-bottom: 10px;
}

.form-signin-heading { padding-bottom:20px; font-weight:700;}
.form-signin .checkbox {
    font-weight: normal;
}
.form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}
.form-signin .form-control:focus {
    z-index: 2;
}
.form-signin input[type="text"] {
    margin-bottom: 20px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
    margin-bottom: 20px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.btn-warning, .btn-warning:hover {
    background-color:#00BCD4;
    font-size:16px;
    padding:10px;
}

.content {}
.padding-25 { margin-top: 50px; }
.navbar-custom {
    background-color:#fff;
    color:#000;
    border-radius:0;
}

.navbar-custom .navbar-nav > li > a {
    color:#000;
}
.navbar-custom .navbar-nav > .active > a, .navbar-nav > .active > a:hover, .navbar-nav > .active > a:focus {
    color: #000;
    background-color:transparent;
}
.navbar-custom .navbar-brand {
    color:#000;
    font-weight:500;
    font-family: 'Passion One', cursive;
    font-size: 26px;
}

.cursive {font-family: 'Passion One', cursive;}
/* mobile version */
.navbar-custom .navbar-toggle {
    border-color: #fff;
}
.navbar-custom .navbar-toggle:hover,
.navbar-custom .navbar-toggle:focus {
    background-color: #fff;
}
.navbar-custom .navbar-toggle .icon-bar {
    background-color: #4CAF50;
}
.navbar-custom .navbar-nav > li > a {
    color: #4CAF50;
    font-weight:600;
    background-color: #fff;
}
.navbar-custom .navbar-nav > .active > a:hover,
.navbar-custom .navbar-nav > .active > a:focus {
    color: #000;
    background-color: #fff;
}
.navbar-custom .navbar-nav > .active  {
    font-size: 17px;
}
.navbar-custom .navbar-nav > .open > a,
.navbar-custom .navbar-nav > .open > a:hover,
.navbar-custom .navbar-nav > .open > a:focus {
    color: #000;
    background-color: #fff;
}

.page-header {
    border:none !important;
    margin-bottom: 0px !important;
    margin-top: 30px !important;
    padding-left: 0px !important;
}

.font-passion-one {
    color:#000;
    font-family: 'Passion One', cursive !important;
    font-size: 25px;
}

.btn-group-justified-custom {
    display: inline-table;
    width: 100%;
    table-layout: fixed;
    border-collapse: separate;
}

.example-appear {
    opacity: 0.01;
}

.example-appear.example-appear-active {
    opacity: 1;
    transition: opacity .5s ease-in;
}

.example-enter {
    opacity: 0.01;
}

.example-enter.example-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
}

.example-leave {
    opacity: 1;
}

.example-leave.example-leave-active {
    opacity: 0.01;
    transition: opacity 300ms ease-in;
}

.progress{height:50px!important}

.full {background: #fff !important; padding-bottom: 15px; overflow-x: hidden;}

.padding-20 { padding: 20px 10px 3px 10px !important; }
.padding-10 { padding: 5px 10px 3px 10px !important; }

.spacer {
    margin-bottom: 5px !important;
}

.opacity-54 { opacity: 0.54; }
.opacity-87 { opacity: 0.87; }

.background-grey {background-color: #fff;}

.bold {font-weight: 800;}

.autocomplete { z-index: 999; position: relative; padding-left:0;}
.autocomplete ul {position: absolute; list-style-type: none; border: 1px solid #ccc; padding-bottom:15px; border-radius: 3px; background: #fff; }
.autocomplete ul li {
    width:100%;
    min-height:40px;
    line-height:40px;
    vertical-align: middle;
    border-bottom: 1px solid #eee
}

.message {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10030;
    width:100%;
}
.message div {padding: 15px !important;}
.message span {margin: 0 auto;}

.autocomplete ul li div { padding-left:10px;}
.autocomplete ul li:hover,  .autocomplete ul li:focus { cursor: pointer;
    box-shadow: rgba(0,0,0,0.3) 0 16px 16px 0;
    -webkit-box-shadow: rgba(0,0,0,0.3) 0 16px 16px 0;
    -moz-box-shadow: rgba(0,0,0,0.3) 0 16px 16px 0;
}

.input-group > input {/*height: 40px;*/}

.visible {visibility: visible}
.hidden {visibility: hidden}

li:hover {  }

img {
    width: 100%; /* you can use % */
    height: 100%;
}
.spacer {
    margin-bottom:40px;
}


@media only screen and (max-width: 768px){
    .item-container {height: 130px; padding:5px 0 5px 5px; margin-bottom: 10px; background-color: #fff}
    .item {height: 120px; }
    .default-img {line-height: 120px; }
    .property-image, .property-image div {height: 120px; padding:0 !important;}
    .property-details {height: 120px;}
}

@media only screen and (min-width: 768px){
    .item-container {height: 130px; padding:5px 0 5px 5px; margin-bottom: 10px; background-color: #fff;}
    .item {height: 120px; }
    .default-img {line-height: 120px; }
    .property-image, .property-image div {height: 120px; padding:0 !important}
    .property-details {height: 120px;}
}

    /* Medium devices (desktops, 992px and up) */
@media only screen and (min-width: 992px){
    .item-container {height: 150px; padding:5px 0 5px 5px; margin-bottom: 10px; background-color: #fff;}
    .item {height: 140px; }
    .default-img {line-height: 140px; }
    .property-image, .property-image div {height: 140px; padding:0 !important}
    .property-details {height: 140px; }
}

    /* Large devices (large desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .item-container {height: 160px; padding:5px 0 5px 5px; margin-bottom: 10px; background-color: #fff;}
    .item {height: 150px; }
    .default-img {line-height: 150px; }
    .property-image, .property-image div {height: 150px; padding:0}
    .property-details {height: 150px;}
}


dd { line-height: 1.85714285714286; font-size: 18px;}
dd label {
    color: #9f9f9f;
    font-weight: 400;
    display: inline-block;
    max-width: 100%;
    margin-bottom: 0;
}

.grey {color: #9f9f9f;}

.form-group { margin-bottom: 20px;}
.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
    float: none !important;
}

.row {

    margin-left: 0 !important;
    margin-right: 0 !important;
}

.min-height {min-height: 690px;}

.RichEditor-root {
    background: #fff;
    border: 1px solid #ddd;
    font-family: 'Georgia', serif;
    font-size: 14px;
    padding: 15px;
}

.RichEditor-editor {
    border-top: 1px solid #ddd;
    cursor: text;
    font-size: 16px;
    margin-top: 10px;
}

.RichEditor-editor .public-DraftEditorPlaceholder-root,
.RichEditor-editor .public-DraftEditor-content {
    margin: 0 -15px -15px;
    padding: 15px;
}

.RichEditor-editor .public-DraftEditor-content {
    min-height: 100px;
}

.RichEditor-hidePlaceholder .public-DraftEditorPlaceholder-root {
    display: none;
}

.RichEditor-editor .RichEditor-blockquote {
    border-left: 5px solid #eee;
    color: #666;
    font-family: 'Hoefler Text', 'Georgia', serif;
    font-style: italic;
    margin: 16px 0;
    padding: 10px 20px;
}

.RichEditor-editor .public-DraftStyleDefault-pre {
    background-color: rgba(0, 0, 0, 0.05);
    font-family: 'Inconsolata', 'Menlo', 'Consolas', monospace;
    font-size: 16px;
    padding: 20px;
}

.RichEditor-controls {
    font-family: 'Helvetica', sans-serif;
    font-size: 14px;
    margin-bottom: 5px;
    user-select: none;
}

.RichEditor-styleButton {
    color: #999;
    cursor: pointer;
    margin-right: 16px;
    padding: 2px 0;
    display: inline-block;
}

.RichEditor-activeButton {
    color: #5890ff;
}

.circle {
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 25px;
    vertical-align: middle;
    background: #4CAF50;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.circle i {color: #fff;}

.padding-right-15 { padding-right: 15px !important;}
